button.connection,
a.connection
{
	position: relative;

	padding-left: 34px;

	transition: 0.15s color;

	color: $black;

	font-size: $middle-fs;
}

button.connection::before,
a.connection::before
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 24px;
	height: 24px;
	margin: auto;

	content: "";
}

button.connection:hover,
a.connection:hover
{
	color: $orange;
}
